.fb-post-outer {
   background: rgb(60,89,152);
   padding: 50px;
    min-height: 1920px;
}
.fb-post-inner {
   background: white;
   padding: 50px;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: calc(100% - 100px);
}
.fb-post-inner .left {
    float: left;
    width: 100%;
    /* padding-right: 50px; */
    margin-bottom: 50px;
}
.fb-post-inner .right {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.fb-post-inner .profile {
    float: left;
    margin-right: 20px;
}
.fb-post-inner .profile img {
    max-width: 50px;
    border-radius: 5px;
}
.fb-post-inner .name-location {
    float: left;
}
.fb-post-inner .name-location p {
    margin-bottom: 2px;
}
.fb-post-inner .name {
    margin-right: 5px;
    color: #365899;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
}
.fb-post-inner .time {
    color: #90949c;
	font-size: 17px;
    margin-right: 20px;
}
.fb-post-inner .content {
    color: #505050;
    font-size: 21px;
    font-family: inherit;
    text-align: left;
    margin-top: 30px;
}
.fb-post-inner .icon {
    background: #5890ff;
    color: white;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 32px;
}
.fb-post-inner .like {
    display: flex;
    align-items: center;
    float: left;
    padding-right: 20px;
}
.fb-post-inner .count {
    font-size: 18px;
    margin-left: 10px;
    color: rgb(52, 52, 52);
    font-size: 32px;
}
.fb-post-inner .find-us {
    float: right;
    margin-top: 10px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.img_logo{
    display: block;
    max-width: 100%;
    height: auto;
    width: 33%;
    float: right;
}
@media screen and (max-width: 991px) {
    .fb-post-inner .left {
        float: none;
        width: 100%;
        padding-right: 0px;
        margin-bottom: 20px;
    }
    .fb-post-inner .right {
        float: none;
        width: 100%;
        margin: 30px 0 30px 0;
    }
}
.info-bar {
    position: absolute;
    top: calc(100% + 10px);
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.fb-post-inner.big-fonts .name {
    font-size: 30px;
    line-height: 1;
}
.fb-post-inner.big-fonts .time {
    font-size: 20px;
    line-height: 1;
}
.fb-post-inner.big-fonts .content {
    font-size: 30px;
}
